<!doctype html>
<!-- blog/templates/base.html -->
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>
            {% block title %}Question&Answer{% endblock %}  
        </title>
        <meta name='viewport' content='width=device-width'>
        <link rel='stylesheet' type='text/css' href='{% static "blog/style.css" %}'>
        <link rel="icon" type="image/ico" href="{% static 'blog/favicon.ico' %}"/>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {%	include	"header.html" %}
        {% endblock	 %}
        {% block main %}{% endblock %}
    </body>
</html>
