<!-- blog/templates/blog.html -->
{% extends 'base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block main %}
    <div class='main_blog'>
        {{ blog.title }}
        <br>
        <div id='main_blog_meta'>
            <span id='main_blog_author'>{{ blog.author }}</span>
            <span id='main_blog_data'>&nbsp;|&nbsp;{{ blog.added_at|date:'d.m.Y, H:i' }}</span>
        </div>
        {% if user == blog.author %}
            <form class='delete_button'
                  action='{% url 'delete_blog' blog_id=blog.id %}'
                  method='post'>
                {% csrf_token %}
                <button type='submit'>Удалить</button>
            </form>
        {% endif %}
        <form method="get" action="{% url 'create_new' blog_id=blog.id %}">
            {% csrf_token %}
            <button type="submit" class="create_new_button">Создать новость</button>
        </form>
        
    </div>
    
    </div>
    {% for new in news %}
        <div class='main_blog news'>
            <h1 class='new_text'>{{ new.title }}</h1>
            <p class='new_text'>{{ new.text }}</p>
            <img src="{{ new.image.url }}" width="1000" height="500" >
            <div id='main_blog_meta'>
                <span id='main_blog_data'>{{ new.author }}&nbsp;|&nbsp;{{ new.added_at|date:'d.m.Y, H:i' }}</span>
            </div>
            {% if user == new.author %}
                <form class='delete_button'
                      action='{% url 'delete_new' new_id=new.id %}'
                      method='post'>
                    {% csrf_token %}
                    <button type='submit'>Удалить</button>
                </form>
                <form method="get" action="{% url 'update_new' new_id=new.id %}">
                    {% csrf_token %}
                    <button type="submit" class="update_new_button">Изменить новость</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
