<!-- blog/templates/header.html -->
<header>
  <div class="header_wrapper">
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Главная страница</a></li>
        <li><a href="{% url 'news_table' %}">Таблица новостей</a></li>
        <li><a href="{% url 'blogs' %}">Блоги</a></li>
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        <li><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
        <li><a href="/admin/">Администратор</a></li>
      </ul>
    </nav>
  </div>
</header>
